<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>  
        <meta name="description" content="">
        <div th:replace="fragments/header::header-css"></div>
    </head>
    <body id="page-top">
        <!-- Page Wrapper -->
        <div id="wrapper">
            <div th:replace="fragments/header::sidebar"></div>    
            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">
                <!-- Main Content -->
                <div id="content">
                    <div th:replace="fragments/header::topnav"></div>
                    <!-- Begin Page Content -->
                    <div class="container-fluid">
                        <button type="button" class="btn btn-sm btn-outline-primary btn-icon-split" data-toggle="modal" data-target="#modalInsert">
                            <span class="icon text-white-50">
                                <i class="fas fa-plus"></i>
                            </span>
                            <span class="text">Insert District</span>
                        </button>
                        <br>
                        <br>
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">District Data</h6>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>No</th> 
                                                <th hidden="">ID</th> 
                                                <th>Name</th>
                                                <th>Province</th>
                                                <th hidden="">ID Province</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>No</th>
                                                <th hidden="">ID</th>
                                                <th>Name</th>
                                                <th>Province</th>
                                                <th hidden="">ID Province</th>
                                                <th>Action</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            <tr th:each=" district,no : ${district}">
                                                <td id="no" th:text="${no.count}"></td>
                                                <td id="id" hidden="" th:text="${district.id}"></td>
                                                <td id="name" th:text="${district.name}"></td>
                                                <td id="province" th:text="${district.province.name}"></td>
                                                <td id="provinceId" hidden="" th:text="${district.province.id}"></td>
                                                <td>
                                                    <a th:href="@{'/admin/district/delete/' + ${district.id}}" class="btn btn-sm btn-outline-danger">
                                                        <span class="icon">
                                                            <i class="fas fa-trash"></i>
                                                        </span>
                                                    </a>
                                                    <button type="button" class="btn btn-sm btn-outline-primary" data-target="#modalEdit" data-toggle="modal">
                                                        <span class="icon">
                                                            <i class="fas fa-edit"></i>
                                                        </span>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <!-- Modal Insert-->
                        <div class="modal fade" id="modalInsert" role="dialog">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h4 class="modal-title">Form Status</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <!-- Modal Body -->
                                    <div class="modal-body">
                                        <form th:action="@{/admin/district/save}" method="POST" class="form-horizontal" role="form">
                                            <div class="form-group">
                                                <label for="input" class="col-sm control-label">District</label>
                                                <div class="col-sm-12">
                                                    <input type="text" name="name" class="form-control" value="" required="required">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="input" class="col-sm control-label">Province</label>
                                                <div class="col-sm-12">
                                                    <select name="province" class="form-control">
                                                        <option th:each="province : ${province}" th:value="${province.id}" th:text="${province.name}"></option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-12 col-sm-offset-2">
                                                    <button type="submit" class="btn btn-sm btn-outline-primary">Submit</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- Modal Footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End of Modal Insert-->
                        
                        <!-- Modal Edit-->
                        <div class="modal fade" id="modalEdit" role="dialog">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h4 class="modal-title">Edit Role</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <!-- Modal Body -->
                                    <div class="modal-body">
                                        <form th:action="@{/admin/district/edit}" method="POST" class="form-horizontal" role="form">
                                            <div class="form-group">
                                                <label for="input" class="col-sm control-label">ID</label>
                                                <div class="col-sm-12">
                                                    <input type="text" id="modalId" name="id" class="form-control" value="" required="required" readonly="">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="input" class="col-sm control-label">District</label>
                                                <div class="col-sm-12">
                                                    <input type="text" id="modalName" name="name" class="form-control" value="" required="required">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="input" class="col-sm control-label">Province</label>
                                                <div class="col-sm-12">
                                                    <select id="modalProvince" name="province" class="form-control">
                                                        <option th:each="province : ${province}" th:value="${province.id}" th:text="${province.name}"></option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-12 col-sm-offset-2">
                                                    <button type="submit" class="btn btn-sm btn-outline-primary">Submit</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- Modal Footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End of Modal Edit-->
                        
                    </div>
                    <!-- /.container-fluid -->  
                </div>
                <!-- End of Main Content -->
                <div th:replace="fragments/header::footer"></div>
            </div>
            <!-- End of Content Wrapper -->
        </div>
        <!-- End of Page Wrapper -->
        <div th:replace="fragments/footer::footer"></div>
        <script>
            $(document).ready(function () {
                $('#modalEdit').on('show.bs.modal', function (e) {
                    var btn = $(e.relatedTarget);
                    var row = btn.parents("tr");
            
                    var a = row.find("#id").text()
                    var b = row.find("#name").text();
                    var c = row.find("#province").text();
                    var d = row.find("#provinceId").text();
//                    alert(b);
                    $(this).find('#modalId').val(a);
                    $(this).find('#modalName').val(b);
                    $(this).find('#modalProvince').val(c);
                    $(this).find('#modalProvince').val(d);
                });
            });
        </script>
    </body>
</html>
